<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Banner\Model\ResourceModel\Banner" type="Ewave\BannerStaging\Model\ResourceModel\Banner" />
    <preference for="Magento\Banner\Model\Banner" type="Ewave\BannerStaging\Model\Banner" />

    <preference for="Ewave\BannerStaging\Api\Data\BannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Ewave\BannerStaging\Api\Data\BannerInterface" type="Magento\Banner\Model\Banner" />
    <preference for="Ewave\BannerStaging\Api\BannerStagingInterface" type="Ewave\BannerStaging\Model\BannerStaging" />
    <preference for="Ewave\BannerStaging\Api\BannerRepositoryInterface" type="Ewave\BannerStaging\Model\BannerRepository" />
    <type name="Magento\Staging\Model\StagingList">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="magento_banner" xsi:type="string">Ewave\BannerStaging\Api\Data\BannerInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Staging\Model\EntityStaging">
        <arguments>
            <argument name="stagingServices" xsi:type="array">
                <item name="Ewave\BannerStaging\Api\Data\BannerInterface" xsi:type="string">\Ewave\BannerStaging\Api\BannerStagingInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Ewave\BannerStaging\Api\Data\BannerInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">magento_banner</item>
                    <item name="sequenceTable" xsi:type="string">sequence_magento_banner</item>
                    <item name="identifierField" xsi:type="string">banner_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Staging\Model\StagingApplier">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="Ewave\BannerStaging\Api\Data\BannerInterface" xsi:type="object">Ewave\BannerStaging\Model\BannerApplier</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\OperationPool">
        <arguments>
            <argument name="operations" xsi:type="array">
                <item name="Ewave\BannerStaging\Api\Data\BannerInterface" xsi:type="array">
                    <item name="create" xsi:type="string">Magento\Staging\Model\Operation\Create</item>
                    <item name="update" xsi:type="string">Magento\Staging\Model\Operation\Update</item>
                    <item name="delete" xsi:type="string">Magento\Staging\Model\Operation\Delete</item>
                </item>
                <item name="default" xsi:type="array">
                    <item name="read" xsi:type="string">Magento\Framework\EntityManager\Operation\Read</item>
                    <item name="create" xsi:type="string">Magento\Framework\EntityManager\Operation\Create</item>
                    <item name="update" xsi:type="string">Magento\Framework\EntityManager\Operation\Update</item>
                    <item name="delete" xsi:type="string">Magento\Framework\EntityManager\Operation\Delete</item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="stagingBannerUpcomingResult" type="Magento\Staging\Model\Entity\Upcoming\SearchResult">
        <arguments>
            <argument name="entityRequestName" xsi:type="string">banner_id</argument>
            <argument name="entityTable" xsi:type="string">magento_banner</argument>
            <argument name="entityColumn" xsi:type="string">banner_id</argument>
            <argument name="entityFieldsToSelect" xsi:type="array">
                <item name="identifier" xsi:type="string">identifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="stagingBannerUpdateSelectResult" type="\Magento\Staging\Model\Entity\Update\Select\SearchResult">
        <arguments>
            <argument name="entityRequestName" xsi:type="string">banner_id</argument>
            <argument name="entityTable" xsi:type="string">magento_banner</argument>
            <argument name="entityColumn" xsi:type="string">banner_id</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="staging_banner_upcoming_grid_data_source" xsi:type="string">stagingBannerUpcomingResult</item>
                <item name="staging_banner_update_select_grid_data_source" xsi:type="string">stagingBannerUpdateSelectResult</item>
                <item name="staging_banner_update_remove_select_grid_data_source" xsi:type="string">stagingBannerUpdateSelectResult</item>
                <item name="staging_update_edit_banner_grid_data_source" xsi:type="string">Magento\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Banner\Model\ResourceModel\Banner\Collection">
        <plugin name="setStagingFlagBannerUpdate" type="Ewave\BannerStaging\Model\ResourceModel\Grid\Collection\UpdatePlugin"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <plugin name="filterBannerUpdate" type="Ewave\BannerStaging\Ui\Component\DataProvider\UpdatePlugin"/>
    </type>
    <type name="Magento\Staging\Model\Update\IncludesList">
        <arguments>
            <argument name="includes" xsi:type="array">
                <item name="magento_banner" xsi:type="object">Magento\Staging\Model\Update\Includes</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Staging\Model\Entity\RetrieverPool">
        <arguments>
            <argument name="retrievers" xsi:type="array">
                <item name="Ewave\BannerStaging\Api\Data\BannerInterface" xsi:type="object">Ewave\BannerStaging\Model\Banner\Retriever</item>
            </argument>
        </arguments>
    </type>
</config>
