<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ewave_bannerstaging_api_data_bannerinterface_save_before">
        <observer name="save_relations" instance="Ewave\BannerStaging\Observer\BannerSaveBeforeObserver" />
    </event>
    <event name="ewave_bannerstaging_api_data_bannerinterface_save_after">
        <observer name="save_relations" instance="Ewave\BannerStaging\Observer\BannerSaveAfterObserver" />
    </event>
    <event name="ewave_bannerstaging_api_data_bannerinterface_load_after">
        <observer name="save_relations" instance="Ewave\BannerStaging\Observer\BannerLoadAfterObserver" />
    </event>
</config>
